@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: droid;
    src: url(../fonte/droid.otf);
}



body {
    font-family: Arial, Helvetica, sans-serif;
}


#header {
    width: 100vw;
    height: 600px;

    background-image: url(../image/background-heade-1.jpg);
    background-size: cover;
}
#nav_head {
    width: 100vw;
    height: 90px;

    text-align: center;
    padding: 10px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-logo {
    width: 50px;
    height: 58px;
}
#nav-list {
    display: flex;
    margin: auto;

    font-size: 30px;
    font-family: droid;

    color: white;
}
.nav-list-item {
    color: white;
    margin: 10px 30px;

}
.nav-list-item:hover {
    color: #BF500F;
    transition: 1s;

}

#nav-list-social {
    display: flex;
    justify-content: center;
}
.nav-list-icon img {
    width: 40px;
    padding: 5px;
}


#baner {
    width: 100vw;
    height: 550px;

    padding: 50px;

    text-align: center;
}

#baner-voxpod {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #BF681B;
    
    font-weight: lighter;
    font-size: 250px;
    font-family: droid;
    text-shadow: 4px 4px 2px black;

    
}
#baner-streming {
    width: 300px;
}