@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: droid;
    src: url(../fonte/droid.otf);
}



body {
    font-family: Arial, Helvetica, sans-serif;
}


#header {
    width: 100vw;
    height: 610px;

    background-image: url(../image/background-heade-1.jpg);
    background-size: cover;

    border-bottom: 4px solid #bf500f91;
}


#nav_head {
    width: 100vw;
    height: 90px;

    text-align: center;
    padding: 10px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-logo {
    width: 50px;
    height: 58px;
}
#nav-list {
    display: flex;
    margin: auto;

    font-size: 30px;
    font-family: droid;

    color: white;
}
.nav-list-item {
    color: white;
    margin: 10px 30px;

}
.nav-list-item:hover {
    color: #BF500F;
    transition: 1s;

}
#nav-list-social {
    display: flex;
    justify-content: center;
}
.nav-list-icon img {
    width: 40px;
    padding: 5px;
}



#baner {
    width: 100vw;
    height: 550px;

    padding: 50px;

    text-align: center;
}

#baner-voxpod {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #BF681B;
    
    font-weight: lighter;
    font-size: 250px;
    font-family: droid;
    text-shadow: 4px 4px 2px black;

    
}
#baner-streming {
    width: 300px;
}





/* MAIN */ 



main {
    width: 100vw;
    height: 100%;

    padding: 100px 50px 50px 50px;

    background-image: url(../image/resource-database-jRDZ4_wYCa8-unsplash\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#main-title {
    font-family: droid;
    font-size: 3.5rem;
    font-weight: lighter;

    color: black;

    text-align: center;
    text-shadow: 1px 2px 5px white;

    margin-bottom: 100px;
}

#title-ep {
    

    color: white;

    margin: 0px 300px;
    border-bottom: 2px solid white;
}



#ep-conteiner {

    margin: 50px 300px;

    display: flex;
    flex-direction: column;
}
.ep-card {
    width: 660px;
    height: 570px;

    color: white;

    background-color: rgba(0, 0, 0, 0.151);

    margin-top: 20px;

    padding: 20px;

    border-radius: 45px;

    display: flex;
    justify-content: space-between;
}
.ep-card h1 {
    font-family: droid;
    font-size: 90px;
    font-weight: normal;
    color: #BF500F;

    text-shadow: 1px 1px 1px black;
}
.ep-card p {
    text-shadow: 1px 1px 1px black;
}

.img-ep-card {
    width: 300px;
    height: 500px;

    
    object-fit: cover;
    overflow: hidden;
    border-radius: 45px;

}
.img-ep-card:hover {
    color: 2;
}
.ep-descr {
    width: 250px;
}
#icon-streming-card {
    width: 250px;

    margin-top: 50px;
}




#row {
    width: 100%;

    margin-top: 70px;
    border-top: 2px solid #BF681B;
}
#credits {
    margin-top: 80px;

    text-align: end;

    display: flex;
    justify-content: space-between;
}
#credit-title {
    color: whitesmoke;

    text-shadow: 1px 1px 1px black;
}
#credits-names {
    color: whitesmoke;

    text-shadow: 1px 1px 1px black;
}




footer {
    width: 100vw;
    height: 200px;

    background-color: black;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px 40px;

    background-color: white;
}
.footer-list-item {
    font-size: 20px;

    color: black;
    padding-top: 5px;
}
.footer-list-item:hover {
    color: #BF500F;
    transition: 1s;
}
footer img {
    width: 100px;
} 
#footer-streming-logo {
    width: 200px;
}
#footer-social-streming {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}